<% if User.current.allowed_to?(:save_queries, @project, :global => true) %>
  <script>
    var duplicateButton = '<%= link_to l(:button_duplicate), {:controller => 'queries', :action => 'new', :duplicate_from => @query}, :class => 'icon icon-duplicate' %>';
    $('.contextual a:first').after(duplicateButton);
  </script>
<% end %>
